/* variables css */
:root {
    --white-main-color: #ffffff;
    --black-main-color: #0c0d0d;
    --black-second-color: #101217;
    --blue-main-color: #05183c;
    --blue-second-color: #06296b;
    --blue-third-color: #1a3c7d;
    --red-main-color: #C0392B;
}

body {
    background-color: var(--black-second-color);
    color: var(--white-main-color);
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: var(--black-main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-left: 16px;
    cursor: pointer;
}

.input-search {
    background-color: var(--black-second-color);
    color: var(--white-main-color);
    border: 1px solid var(--blue-main-color);
    outline: none;
}

.btn-search {
    color: var(--white-main-color);
    background-color: var(--blue-main-color);
    border: 1px solid var(--blue-main-color);
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-search:hover {
    background-color: transparent;
}

.div-main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.btn-add{
    color: var(--white-main-color);
    background-color: var(--blue-main-color);
    border: 1px solid var(--blue-main-color);
    cursor: pointer;
    transition-duration: 0.4s;
    height: 20px;
}

.btn-add:hover {
    background-color: transparent;
}

.btn-trash {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background-color: var(--red-main-color);
    cursor: pointer;
}

.btn-pencil {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background-color: var(--blue-second-color);
    cursor: pointer;
}

.input-title-div {
    width: 264px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white-main-color);
    font-size: 40px;
}

.input-description-div {
    width: 192px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white-main-color);
    font-size: 20px;
}

.input-div-main-content {
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--white-main-color);
    margin: 8px;
}

.div-second-content {
   display: flex;
   justify-content: center;
}

table {
    width: 100%;
    margin: 16px;
    text-align: center;
}

.error-alert {
    width: 100%;
    display: none;
    justify-content: center;
    margin: 16px 0;
    color: var(--red-main-color);
}